@charset "utf-8";
/* CSS Document */
ul,ol{
	list-style-type: none;
	outline: none;
}
body{
/*	background-color: rgba(203,203,203,1.00);*/
	background-image: url("../image/case_bg.jpg");
}
#content{
	
}
#content .head{
	
}
#content .head img{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#content .head .box1{
	position: absolute;
	top: 30%;
	z-index: 2;
	color: rgba(249,249,249,1.00);
	left: 10%;
}
#content .head .box1 p{
	color: #fff;
	cursor: default;
	text-transform: uppercase;
}
#content .head .box1 p:nth-child(1){
	font-size: 70px;
	display: inline-block;
	letter-spacing: 3px;
	font-weight: 500;
}
#content .head .box1 p:nth-child(2){
	font-size: 40px;
	font-weight: 400;
	margin-top: -20px;
	letter-spacing: 3px;
}
#content .head .box1 p:nth-child(3){
	font-size: 20px;
	font-family: "微软雅黑";
	letter-spacing: 3px;
	margin-top: -17px;
}
#main_body{
	width: 100%;
	position: relative
}
#main_body .nav-bar{
	position: absolute;
	width: 75%;
	height: 120px;
	top: -40px;
	z-index: 3;
	left: 13%;
	background-color:rgba(255,255,255,1.00);
	border: 1px solid rgba(168,168,168,1.00);
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
}
#main_body .nav-bar ul{
	width: 100%;
	clear: both;
}
#main_body .nav-bar ul li{
	width: 25%;
	float: left;
	margin-top: 20px;
}
#main_body .nav-bar ul li img{
	margin-top: 13px;
	margin-left: 20px;
}
#main_body .nav-bar ul li .nav_msg{
	margin-left: 29px;
	text-align: center;
	float: left;
}
#main_body .main_content{
	position: absolute;
	top: 160px;
	left: 15%;
}
#main_body .main_content ul li{
	float: left;
}
#main_body .main_content ul li:nth-child(1){}
#main_body .main_content ul li:nth-child(2){
	margin-left: 35px;
}
#main_body .main_content ul li:nth-child(3){
	margin-left: 35px;
}
#main_body .main_content ul li img{
	border: 1px solid #888888;
	border-radius: 10px;
}
#main_body .body1{
	position: absolute;
	top: 600px;
	width: 75%;
	left: 13%;
	height: 950px;
}
#main_body .body1 .body_title{
	width: 100%;
}
#main_body .body1 .body1_content{
	margin-top: 20px;
}
#main_body .body1 .body1_content:before{
	 content:".";
     display:block;
     clear:both;
     visibility:hidden;
}
#main_body .body1 .body1_content:after{
	content:".";
     display:block;
     clear:both;
     visibility:hidden;
}
#main_body .body1 .body1_content ul li{
	width: 20%;
	float: left;
	padding: 5px;
	margin-left: 50px;
	border-radius: 5px;
}
#main_body .body1 .body1_content ul li:nth-child(1){
	float: left;
}
#main_body .body1 .body1_content ul li img{
	margin-left: 30px;
}
#main_body .body1 .body1_content ul li p:nth-of-type(1){
	font-size: 30px;
	font-weight: 400;
}
#main_body .body1 .body1_content ul li div{
	border-radius: 10px;
	border: 1px solid rgba(168,168,168,1.00);
	box-shadow: 10px 10px 5px rgba(221,221,221,1.00);
	height: 360px;
	cursor: pointer;
}
#main_body .body1 .body1_content ul li div:nth-last-of-type(-n+4){
	margin-top: 20px;
}
#main_body .body2{
	width: 75%;
	position: absolute;
	top: 1600px;
	left: 15%;
}
#main_body .body2:before{
	 content:".";
     display:block;
     clear:both;
     visibility:hidden;
}
#main_body .body2:after{
	 content:".";
     display:block;
     clear:both;
     visibility:hidden;
}
#main_body .body2 .item_box{
	width: 100%;
	position: absolute;
}
#main_body .body2 .item_box img{
	cursor: pointer;
	left: 20px;
}
#main_body .body2 .item_box ul li{
	position: absolute;
	width: 100%;
/*	background-color: rgba(0,0,0,0.60);*/
}
#main_body .body2 .item_box_content{
	width: 400px;
	float: right;
	margin-top: 50px;
	margin-right: 300px;
}
#main_body .body2 .item_box_content p{
	font-size: 15px;
	letter-spacing: 3px;
}
#main_body .body2 li:nth-child(2){
	margin-top: 400px;
}
#main_body .body2 .item_box_content1 {
	width: 400px;
	float: left;
}
#main_body .body2 .item_box_content1 {
	margin-top: 120px;
	font-size: 15px;
	letter-spacing: 3px;
	margin-left: 200px;
}
#main_body .body3{
	width: 75%;
	position: absolute;
	top: 2600px;
	left: 15%;
}
#main_body .body3 ul li{
	width: 20%;
	float: left;
	padding: 5px;
	margin-left: 50px;
	border-radius: 5px;
}
#main_body .body3 ul li div{
	border-radius: 10px;
	border: 1px solid rgba(168,168,168,1.00);
	box-shadow: 10px 10px 5px rgba(221,221,221,1.00);
	height: 360px;
	cursor: pointer;
}
#main_body .body3 ul li img{
	margin-left: 30px;
}
#main_body .body3 ul li p:nth-of-type(1){
	font-size: 30px;
	font-weight: 400;
}
#main_body .body3 ul li div:nth-last-of-type(-n+4){
	margin-top: 20px;
}